html {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

#main {
	position: relative;
	width: 100%;
	background-color: #2e2e1f;
	height: 100%;
}

#rock, #rockAI {
position: absolute;
top: 75%;
left: 22.5%;
width: 7.3%;
height: 15.3%;
transition: all 1s ease;
border-radius: .5em;
}
#paper, #paperAI {
position: absolute;
top: 75%;
left: 47.5%;
width: 7.3%;
height: 15.3%;
transition: all 1s ease;
border-radius: .5em;
}
#scissors, #scissorsAI {
position: absolute;
top: 75%;
left: 73.5%;
width: 7.3%;
height: 15.3%;
transition: all 1s ease;
border-radius: .5em;
}

#rockAI, #scissorsAI, #paperAI {
	top: 13%;
	border-radius: .5em;
}

#deck {
position: absolute;
top: 43.5%;
left: 5%;
width: 7.3%;
height: 15.3%;
transition: all 1s ease;
z-index: 1;
background: url("images/deck.png") no-repeat;
background-size: 100% 99%;
transition: background .3s linear;
}

#deck:hover {
background: url("images/draw.png") no-repeat;
background-size: 100% 99%;
transition: background .3s linear;
}

#midline {
	position: absolute;
	top: 50%;
	height: 1.5%;
	width: 100%;
	border: none;
	background-color: black;
	z-index: 0;
}

#game {
position: absolute;
width:0px; 
height: 0px;
color: #2e2e1f; 
background-color: #2e2e1f;
top: 47.5%;
left: 90%;
transition: all 1.8s ease;
z-index: 1;
border: none;
}

#none1, #none2 {
position: absolute;
top: 43.5%;
left: 20%;
width: 7.3%;
height: 15.3%;
transition: all 1s ease;
border-radius: .5em;
z-index: 0;
}

#drawText {
position: absolute;
top: 40%;
left: 5%;
color: white;
font-size: 100%;
}

#playerPoints, #computerPoints {
	font-size: 6em;
	position: absolute;
	left: 10%;
	top: 75%;
	color: white;
}

#computerPoints {
	left: 10%;
	top: 13%;
}
#data {
	opacity: 0.9;
	position: absolute;
	top: 35%;
	left: 73.25%;
	width: 7.3%;
	height: 30.6%;
	background-color: white;
	border: 4px double black;
	text-align: center;
	line-height: 2.5em;
	z-index: 2;
}

#dataDeck {
	z-index: 11;
	position: absolute;
	top: 51.8%;
	left: 8.7%;
	width: 20.5%;
	padding-top: .5em; 
	height: 12%;
	background-color: white;
	opacity: 0.9;
	border: 4px double black;
	text-align: center;
	line-height: 1.5em;
	z-index: 2;
}

#announcement {
	z-index: 100;
	font-size: 10em;
	text-align: center;
	position: absolute;
	top: 15.5%;
	left: 25.29%;
	padding: .5em;
	color: white;
}

#newGame {
	top: 97%;
	font-size: .1em;
	position: absolute;
	left: 39.5%;
	display: inline-block;
}

.tooltip {
	visibility: hidden;
}

.tooltip:hover {
	visibility: visible;	
}